body{
    background-image:url(ArticlesBackground.jpg) ;
    background-repeat: no-repeat;
    background-size: auto;
}


#back-button {
    background: url('Arrow Left.png') no-repeat;
    background-size: cover; 
    width: 130px; 
    height: 130px; 
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 810px;
    right: 1850px;
    padding: 0;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    margin-left: 120px;
    margin-bottom: 370px;
    overflow: hidden;
}

.slide {
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#slideshow1 {
    position: absolute;
    top: 265px;
    left: 120px;
    
}

#slideshow2 {
    position: absolute;
    top: 265px;
    left: 990px;
}

#slideshow3 {
    position: absolute;
    top: 265px;
    left: 1850px;
}

.slide {
    display: none;
    width: 100%; 
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slideshow-button1{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 150px;
    border: none;
    border-radius: 5px;
}


.slideshow-button2{
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 180px;
    border: none;
    border-radius: 5px;
}

.slideshow-button3{
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 220px;
    border: none;
    border-radius: 5px;

}





