body{
    background-image:url(ArticlesBackground.jpg) ;
    background-repeat: no-repeat;
    background-size: auto;
}


#back-button {
    background: url('Arrow Left.png') no-repeat;
    background-size: cover; 
    width: 130px; 
    height: 130px; 
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 810px;
    right: 1850px;
    padding: 0;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    margin-left: 120px;
    margin-bottom: 370px;
    overflow: hidden;
}

.slide {
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

