body{
    background-image:url(ContactBackground.jpg) ;
    background-repeat: no-repeat;
    background-size: auto;
}

#back-button {
    background: url('Arrow Left.png') no-repeat;
    background-size: cover; 
    width: 130px; 
    height: 130px; 
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 810px;
    right: 1850px;
    padding: 0;
}
 
 .TwitterLogo {
    display: inline-block;
    margin: 650px 50px 0 800px;
}

.TwitterLogo img {
    width: 300px; 
    height: auto; 
    top: 100px;
    transition: transform 0.3s ease-in-out;
}

.TwitterLogo:hover img {
    transform: scale(1.1); 
}

.InstagramLogo {
    display: inline-block;
    margin: 650px 50px 0 300px;
}

.InstagramLogo img {
    width: 300px; 
    height: auto; 
    top: 100px;
    transition: transform 0.3s ease-in-out;
}

.InstagramLogo:hover img {
    transform: scale(1.1); 
}



.contact-message {
    font-size: 70px;
    text-align: center;
    margin-top: -550px;
}

.email-link{
    color: violet;
    text-decoration: none;
}

