body{
    background-image:url(Background.jpg) ;
    background-repeat: no-repeat;
    background-size: auto;
}

body {font-size: 16px}

  button {
  color:white;
  display: block;
  font: 300 150% langdon;
  background: transparent;
  border: 3px solid rgb(255, 255, 255);
  cursor: pointer;
  
} 

button:hover {
  background: #612f4b;
  
}

button:active {
  background: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  }

  body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    margin-top: 65px;
}

button {
    padding: 15px 120px;
    font-size: 90px;
    background-color: #ffffff;
    color: #1f1e1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}