body{
    background-image:url(Background.jpg) ;
    background-repeat: no-repeat;
    background-size: auto;
}

body {font-size: 16px}

  button {
  color:white;
  display: block;
  font: 300 150% langdon;
  background: transparent;
  border: 3px solid black;
  cursor: pointer;
} 

button:hover {
  background: #f7f7f7;
  border: 1px solid #8b8b8b;
}

button:active {
  background: #2e2e2e;
  border: 1px solid black;
  color: white;
  }

  body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    margin-top: 65px;
}

button {
    padding: 15px 120px;
    font-size: 90px;
    background-color: #e2a8be;
    color: #1d1d1d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}